:root{
    --cor-fundo: #5d2ecc ;
    --cor-principal: #3c2492 ;
    --cor-secundaria: #461db6; 
    --cor-destaque: #fcf9f9;
    --cor-texto: #ffffff;

}

body {
    background-image: url("./jobors2.jpg");
    
    
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin:5px;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}